<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="Profile/userBase::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>

	<section>
		<div class="headingBox">
			<h2 class="text-center contactHeading">User Setting</h2>
		</div>
		<div
			style="position: relative; width: 50%; left: 28%;
	/* position: absolute; */ top: 174px;">
			<div class="list-group">
				<ul style="cursor: pointer">

					<a class="list-group-item list-group-item-action  "
						data-toggle="modal" data-target="#userModal"> Update User
						Detail</a>
					<a class="list-group-item list-group-item-action"
						data-toggle="modal" data-target="#exampleModal"> Change User
						Password</a>
					<a data-toggle="modal" data-target="#staticBackdrop"
						class="list-group-item list-group-item-action">Deactivate
						Account</a>
					<a data-toggle="modal" data-target="#deleteContact"
						class="list-group-item list-group-item-action"> Delete All
						Contact</a>


				</ul>
			</div>
		</div>



		<!-- Update User detail Modal -->
		<div class="modal fade" id="userModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<form th:action="@{'/user/updateUser/'+ ${user.email}}" method="post"  
							th:object="${user}">
 



							<div class="row">
								<div class="col">
									<label for="exampleInputEmail1 validationServer01">Firstname</label>
									<input name="first_name" type="text" class=" form-control"
										th:value="${user.first_name}">
								</div>
								<div class="col form-group">
									<label for="exampleInputEmail1">Lastname</label> <input
										name="last_name" th:value="${user.last_name}" type="text"
										class="form-control">
								</div>
							</div>

							<div class="form-group">
								<label for="exampleFormControlTextarea1">About</label>
								<textarea class="form-control" id="exampleFormControlTextarea1"
									rows="3" name="about" th:value="${user.about}"></textarea>
							</div>

							<div class="form-group">
								<label for="exampleInputPassword1">Profile Pic</label> <input
									type="file" class="form-control" id="exampleInputPassword1"
									name="image_Url">
							</div>


							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Update
									Detail</button>
							</div>

						</form>




					</div>

				</div>
			</div>
		</div>



		<!-- Chnage Password Contact -->
		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Chnage
							Password</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<form th:href="@{'changePassword/' + ${username}}" method="post">
							<div class="form-group">
								<label for="exampleInputEmail1">Current Password</label> <input
									type="password" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">New Password</label> <input
									type="password" class="form-control" id="exampleInputPassword1">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Re-Enter New Password</label>
								<input type="password" class="form-control"
									id="exampleInputPassword1">
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Update
									Password</button>
							</div>
						</form>

					</div>

				</div>
			</div>
		</div>







		<!-- Account De-Activate Modal-->
		<div class="modal fade" id="staticBackdrop" data-backdrop="static"
			data-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Deactivate
							Account</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h2>Are You Sure ?</h2>
						<p>Want to De-activate Account</p>
						<strong>All Data and Contact will be Wiped Out</strong>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="button" class="btn  ">
							<a th:href="@{'deactivateUser/' + ${username}}">De-Activate</a>
						</button>
					</div>
				</div>
			</div>
		</div>






		<!-- Delete All Contact -->
		<div class="modal fade" id="deleteContact" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Delete Contact</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<strong>All Contact will be deleted</strong>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="button" class="btn">
							<a th:href="@{'deleteUserContact/' + ${username}}">Delete
								Contact</a>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>


</body>
</html>